/*Начало Определение переменных LESS*/
/*Фон aside*/
/*Фон aside при наведениии*/
/*Цвет шрифта в article и вперед, назад(контент)*/
/*Цвет шрифта наведенной ссылки*/
/*Цвет фона стрелок вперед, назад*/
/*Цвет кнопки для мобильных - бордюра и трех полосок*/
/*Конец Определение переменных LESS*/
/*Начало Шрифты для сайта*/
/*Конец Шрифты для сайта*/
/*Начало Общие*/
#wrapper {
  max-width: 1170px;
  min-width: 280px;
  margin: 0 auto;
}
#wrapper a,
#wrapper a:hover {
  text-decoration: none;
  /*Убрать подчеркивание у ссылок*/
}
/*Конец Общие*/
/*Начало Навигационное меню*/
.navbar-toggle {
  border-color: #428bca;
}
.icon-bar {
  border: 1px solid #428bca;
}
#fon1:hover,
#fon2:hover,
#fon3:hover,
#fon4:hover,
#fon5:hover,
#fon6:hover {
  background-color: #fff;
}
#fon1:visited,
#fon2:visited,
#fon3:visited,
#fon4:visited,
#fon5:visited,
#fon6:visited {
  background-color: #fff;
}
/*Конец Навигационное меню*/
/*Начало Стрелки Вперед Назад*/
#loadcontent a.forward,
a.back {
  display: block;
  height: 30px;
  width: 50%;
  background-color: #588fb4;
  color: #333333;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
#loadcontent a.back {
  float: left;
}
#loadcontent a.forward {
  float: right;
}
#loadcontent a:hover {
  color: #e8c0a0;
}
.first_back {
  visibility: hidden;
}
/*Конец Стрелки Вперед Назад*/
/*Начало плагина metisMenu*/
#menu {
  margin: 0;
  padding-left: 10px;
}
#menu,
#menu ul {
  list-style: none;
}
#menu a {
  position: relative;
  display: block;
  padding: 4px 10px 4px 0;
}
#menu a:hover {
  background-color: #eeeeee;
}
.arrow {
  float: right;
}
.glyphicon.arrow:before {
  content: "\e079";
}
.active > a > .glyphicon.arrow:before {
  content: "\e114";
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
.plus-times {
  float: right;
}
.fa.plus-times:before {
  content: "\f067";
}
.active > a > .fa.plus-times {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.plus-minus {
  float: right;
}
.fa.plus-minus:before {
  content: "\f067";
}
.active > a > .fa.plus-minus:before {
  content: "\f068";
}
/*Конец плагина metisMenu*/
/*Начало Header*/
#img_header {
  margin-top: -15px;
  margin-bottom: 20px;
  width: 100%;
}
/*Конец Header*/
/*Начало Колонка Aside*/
aside {
  position: absolute;
  width: 250px;
  z-index: 1;
  background-color: #f8f8f8;
}
aside h4 {
  font-size: 19px;
  padding-left: 10px;
}
/*Конец Колонка Aside*/
/*Начало Колонка Article*/
article {
  margin-left: 270px;
  margin-bottom: 0;
  font-weight: 100;
  font-family: Lucida Console, Monaco5, monospace;
  font-size: large;
  color: #333333;
  padding-top: 0;
}
article h1 {
  margin-top: 0;
}
article h1,
h2 {
  font-size: 22px;
}
article strong {
  font-weight: 100;
}
article p {
  text-align: justify;
  text-indent: 37px;
  margin-bottom: 0;
}
article .centeralign {
  text-align: center;
}
article .rightalign {
  text-align: right;
}
.imgPhoto {
  float: left;
  margin: 0 20px 18px 0;
  width: 23%;
  min-width: 120px;
}
.panel {
  padding: 0 20px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
/*Конец Колонка Article*/
/*Начало Footer*/
/*Конец Footer*/
/*# sourceMappingURL=Site.css.map */