<div id="loadcontent">
    <h1>САЙТ АНДРЕЯ КРИВОШЕЕВА</h1>
    <img src="~/Content/images/andr.jpg" alt="Фото Андрея Кривошеева" class="imgPhoto" />
    <h2><strong>Немного о себе, любимом&hellip;</strong></h2>

    <p><strong>Зачем я ввязываюсь в &laquo;эту бодягу&raquo;, я и сам толком не знаю&hellip; Наверное, время пришло - Созрел. Вообще-то, эпистолярный жанр&nbsp; &ndash; это не мое, да и по характеру я, скорее Интроверт (хотя и не чистый &ndash; процентов этак на 70). Беседую, в основном, с друзьями-приятелями, с коллегами по работе&nbsp; &ndash; с аудиторией работать не умею, да и <u>не особо расстраиваюсь</u>. Настоящий Разговор &ndash; это не для больших аудиторий, это для Своих. А главное,&nbsp; мне всегда нравился свадебный лозунг: &laquo;Не надо Советов&nbsp; - помогите Материально!&raquo;</strong></p>

    <p><strong> Вероятно, на склад Характера более всего повлияла Профессия (если только <em>это </em>можно назвать Профессией) &ndash; Ремонтник РА. Это с Молодости и это уже <em>Диагноз</em>.&nbsp;&nbsp;&nbsp; Человек, с увлечением занимающийся Ремонтом, имеет,&nbsp;&nbsp; чаще всего,&nbsp;&nbsp; &laquo;<em>Перевернутое</em>&raquo; Сознание &ndash; он дотошен, точен до нудности, необычен, странен, но, чаще всего, интересен.&nbsp;&nbsp; Сознание обычно &laquo;переворачивает&raquo; Привычка мыслить &laquo;<em><u>от Обратного</u></em>&raquo; т.е. обычный человек <em>от Причины к Следствию,</em> а Ремонтник <em>от Следствия к Причине</em>&hellip; И это начинает влиять на его <em>Миро</em>воззрение, Интересы, Судьбу. Желание <em>Разобраться,</em> как это <u>Работает</u>, в чем Причина Неисправности, что можно <u>Сделать</u>&nbsp;&nbsp; &ndash; в крови,&nbsp; отсюда обычно довольно большой Диапазон Интересов, Навыков, Привычка все <u>Систематизировать</u> и Раскладывать &laquo;по Полочкам&raquo; (знакомы, вероятно, и Вы с <u>данным Типом</u> людей, хотя некоторых они и <em>Раздражают</em>).&nbsp;&nbsp; Разумеется, я тоже достаточно <em>Вредный</em>, имею Привычку доводить все до Логического Завершения и&hellip;&nbsp;&nbsp;&nbsp; Ну, в общем, Вы уже поняли.</strong></p>

    <p><strong> Далее в Судьбе появляется интересное Сочетание Профессий&nbsp; и Увлечений: <em>Радио</em>инженер, Ремонтник, Инженер по <em>Мед.технике</em> и&hellip; спортивная борьба Дзю-до, Боевые Искусства в целом (и, разумеется, все, что <em><u>с ними связано</u></em>) и т.д. и т.п. Но везде &ndash; в Армии, в Спортивной Секции, на Работе, в Семье, среди Друзей и Знакомых &ndash; при столкновении с <u>Травмами</u> (точнее с их <u>Последствиями</u>) возникало Желание <em>Помочь</em>. Реальная Помощь выходила <u>не Словами</u>,&nbsp; а <em><u>Руками</u>&nbsp; </em>&ndash; действенная, эффективная, <u>наглядная</u>. Постепенно Дотошность и привычка достигать <em>определенного</em> Профессионализма во всем, за что берешься, заставили заниматься углубленным <u>изучением Вопроса</u>, думать и <u>экспериментировать</u>, читать и искать <u>что-то свое</u>&hellip;&nbsp;&nbsp; И Практика, и человеческие Страдания, пропущенные через себя&hellip; И <em>так вот</em> уже <u>25 лет</u>.</strong></p>

    <p><strong> Я <em>не Массажист</em>. Не Профессионал&nbsp; &ndash; т.е. никогда не делал из этого Бизнеса (да и вряд ли буду), у меня другие источники дохода и существования. Но&hellip;&nbsp;&nbsp; Стань проще &nbsp;и &nbsp;<u>люди &nbsp;к &nbsp;тебе</u> &nbsp;потянутся.</strong></p>

    <p><strong> В общении с людьми&nbsp;&nbsp; (язык не поворачивается назвать их <em>Больными </em>&ndash; ведь чаще всего это достаточно <u>близкие люди</u>) возникало Ощущение, что они хотя и <u>знают много</u> (а последние 10 лет <em>чаще всего</em> это были врачи-профессионалы, <em>асы</em> своего дела и, безусловно, опытные специалисты), но как-то <em>Теряются</em>, не могут <em>Собрать</em> свои Знания и применить их <em>к <u>себе конкретно</u></em>. Методик, вроде, много, а какую <u>выбрать</u>, что поможет именно тебе?.. И вот в таких Беседах, когда ты сидишь на спине Пациента&nbsp; и &laquo;<em>заговариваешь ему зубы</em>&raquo;, одновременно делаешь Массаж&nbsp; и играешь в &laquo;вечер <em>Вопросов и Ответов</em>&raquo;, постепенно вырисовывался круг тех Ответов на эти Вопросы, которые <em><u>удовлетворяют</u> </em>&nbsp;их Любопытство. И затем ты начинаешь повторяться &ndash; сто раз, двести раз, и больше, и полнее&hellip; &nbsp;&nbsp;И вот ты <em>Созрел.</em></strong></p>

    <p><strong> То, что Вы читаете &ndash; это всего лишь мое <em>Видение</em> Проблемы, ни в коем случае <em>не претендующее</em> на звание Истины в последней инстанции.&nbsp;&nbsp; Скорее это попытка заставить Вас <em><u>Мыслить</u>&nbsp; и <u>Действовать</u></em> <u>Самостоятельно</u>,&nbsp;&nbsp; осознано подходить к проблеме своего Здоровья, Здоровья своих <u>детей и близких</u>.&nbsp;&nbsp;&nbsp; Оставим Специалистам изучение глубинной Сути Процессов течения болезни, вопросы Профилактики (точнее все, о чем пойдет речь и есть <em>Профилактика,</em> только уже &laquo;поздно пить боржоми&raquo;) &ndash; обращаться к Науке будем только с одной Целью &ndash; &laquo;вытянуть&raquo; организм из этого Состояния.</strong></p>

    <p><strong> Рассчитано это на <em><u>неспециалистов</u></em>,&nbsp; поэтому заранее прошу Простить за некоторую Механистичность Суждений, упрощенность и <em>не науко</em>образность<em>.</em> Конечно, совсем уж просто не получилось &ndash; Проблема-то уж очень не проста. Тем не менее &ndash; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&laquo;желающий видеть да увидит&raquo;.</strong></p>

    <p><strong> &laquo;Нельзя объять необъятное&raquo; -&nbsp; многие Методы и Способы лечения могут быть не известны мне, просто недоступны или быть <u>созданы вновь</u>. Информация отбиралась из-за <em>Простоты&nbsp; и Доступности</em>,&nbsp;&nbsp; (это не значит <em><u>легкости в применении</u></em>), действенность приемов проверялась <em>много</em>летней Практикой&nbsp; и, безусловно, каждый найдет здесь и известное ему, и что-то новое. Это не научное исследование,&nbsp; а&nbsp; &nbsp;<u>Руководство &nbsp;<em>к&nbsp;&nbsp; Действию</em></u>.</strong></p>

    <p><strong> Большое спасибо всем коллегам-врачам за консультации по различным Вопросам!<em>&nbsp;&nbsp; За помощь в <u>сборе Информации</u> и компьютерную <u>Верстку</u> спасибо коллегам по работе</em> - без них <em>просто ничего бы не было.</em></strong></p>

    <p><strong> Для <em>углубленного</em> изучения Вопроса можно обратиться к специальной литературе. Список <u>используемой</u> литературы прилагается.</strong></p>

    <p>&nbsp;</p>

    <p class="rightalign"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Кривошеев А.В.</strong></p>

    <p>&nbsp;</p>

    <p class="centeralign"><strong>Посвящается всем Врачам. Спасибо Вам за Вашу работу!</strong></p>

    <p class="centeralign"><strong>г. Новосибирск</strong></p>

    <p class="centeralign"><strong>2004</strong></p>

    @*<p class="centeralign"><strong>тел. 315 &ndash; 98 - 66</strong></p>*@
</div>

