@{
    ViewBag.Title = "СФА";
}
@section aside{
    <div class="panel panel-default">
        @Html.Partial("_TreePartial")
    </div>
}
@section article{
    <div class="panel panel-default">
        @Html.Partial("LifeGo/_main")
    </div>
}
@section scripts{
    <script type="text/javascript">
        $(function () {

            $('#menu').metisMenu();

            $('#menu2').metisMenu({
                toggle: false
            });
        });
    </script>
}
