<nav class="navbar" role="navigation">

    <!-- Класс "container-fluid" - адаптивный контейнер -->

    <div class="container-fluid">

        <!-- Блок с кнопкой "Brand" и кнопкой для развертывания меню (для мобильных устройств) -->

        <div class="navbar-header">
            @Html.ActionLink("CИСТЕМА ФИЗИЧЕСКОЙ АКТИВНОСТИ", "Index", "Home", new {@class="navbar-brand"})
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Включить навигацию</span>

                <!-- Набор иконок для кнопки -->

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Набор ссылок навигации, форм и других элементов меню (в мобильном устройстве будет находится в раскрывающеемся списке) -->
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#" id="fon1">Главная</a></li>
                <li><a href="#" id="fon2">Видео</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="fon3">Разное<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">ЛПУ</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Еще что-нибудь</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Нужное</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Еще нужное</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nab" id="fon4">Контакты</a></li>
            </ul>



            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="fon5">Вход</a></li>
                <li><a href="#" id="fon6">Регистрация</a></li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<img src="~/Content/images/header3.jpg" id="img_header"/>
@*<img src="~/Content/images/header2.jpg" id="img_header" />*@
@*<img src="~/Content/images/header.png"  id="img_header"/>*@