
@{
    ViewBag.Title = "Action";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section aside{
    <div class="panel panel-default">
        
    </div>
}
@section article{
    <div class="panel panel-default">
        
    </div>
}

